<footer class="page-footer green lighten-4 brown-text">
         <div class="container">
           <div class="row">
             <div class="col l6 s12">
               <h5>Parklifer</h5>
               <p>Enjoying London's green spaces</p>
             </div>
             <div class="col l4 offset-l2 s12">
               <h5>Sister sites</h5>
               <ul>
                 <li><a href="#!">Parklifer Bristol</a></li>
                 <li><a href="#!">Parklifer Exeter</a></li>
                 <li><a href="#!">Parklifer Leeds</a></li>
                 <li><a href="#!">Parklifer Manchester</a></li>
               </ul>
             </div>
           </div>
         </div>
         <div class="footer-copyright">
           <div class="container">
           © 2018 Stephanie Ye
           </div>
         </div>
       </footer>
