
<% if(messages.happy) { %>
  <div class="row">
  <div class="col s12 m5">
  <div class="card-panel pink">
  <span class="white-text">
  <%= messages.happy %>
  </span>
  </div>
  </div>
  </div>
  <% } %>
