<nav>
  <div class="nav-wrapper teal lighten-5">
    <a href="/parks" class="brand-logo brown-text">Parklife</a>

    <ul class='right'>
        <li><a href="/parks" class='brown-text'>View All Parks</a></li>
      <% if (locals.isLoggedIn) { %>
        <li><a href ="/logout" class='brown-text' >Logout (signed in as <%= locals.user.username %>)</a></li>
        <li><a href ="/parks/account" class='brown-text' >Your account</a></li>
        <%  } else { %>
          <li><a href ="/createaccount" class='brown-text'>Create an account</a></li>
          <li><a href ="/login" class='brown-text'>Log in</a></li>
          <% } %>


        </ul>
      </div>
    </nav>
