<nav>
  <div class="nav-wrapper green lighten-4">
    <div class="container">


    <ul class='left'>
    <li><a href="/" class='brand-logo'><i class="material-icons invisible">flight</i><span class='brand brown-text hide-on-med-and-down'>Hello World!</span></a></li>
    </ul>
    <ul class='left'>
      <li><a href="/" class='brown-text'><i class="material-icons">flight</i></a></li>
    </ul>


    <ul class='right' style = 'margin-top: 13px'>
      <% if (locals.isLoggedIn) { %>
        <li><a href="/users/<%=locals.userr.id%>" class='brown-text'><h6>your map</h6></a></li>
        <li><a href ="/places/new" class='brown-text' ><h6>add a place</h6></a></li>
        <%  } else { %>
          <li><a href ="/createaccount" class='brown-text'><h6>create an account</h6></a></li>
          <li><a href ="/login" class='brown-text'><h6>log in</h6></a></li>
          <% } %>
        </ul>
      </div>
    </div>
    </nav>
