<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7WaMO-50nzRzFcT0F7P6B5RYKHnyMVt8&libraries=places">


</script>

<script>



window.addEventListener('DOMContentLoaded', () => {



  const bounds = new google.maps.LatLngBounds();
  const autocompleteInput = document.querySelector('.autocomplete');

  const autocomplete = new google.maps.places.Autocomplete((autocompleteInput), { types: ['geocode'] });


  $('.newplaceform').submit(function(e) {
    document.querySelector('#name_field').value = autocomplete.getPlace().formatted_address;
    var locale = autocomplete.getPlace().geometry.location.toString();
    var locale1 = locale.slice(1, locale.length-1);
    document.querySelector('#location_field').value= locale1;
    // start autopicture
    document.querySelector('#photo_field').value= autocomplete.getPlace().photos[0].getUrl({'maxWidth': 1000, 'maxHeight': 1000});
    // end autopicture
  });

});


</script>


<div class='solid'>

<% if(messages.danger){ %>
  <div class="col s12 l12">
  <div class="card red lighten-3">
  <div class="card-content red-text">
  <span class="card-title"><%= messages.danger %></span>
  </div>
  </div>
  </div>
  <% } %>


  <h3>Add a place</h3>

  <form
  class="newplaceform" action="/places" method="post">

  <div class="input-field col l12">
    <input type='text' class='autocomplete' />
  </div>

  <div class="input-field col l12">
    <input type='date' name='datestart' id='datestart_field' />
    <label for="datestart_field">Start date of visit</label>
  </div>

  <div class="input-field col l12">
    <input type='date' name='dateend' id='dateend_field' />
    <label for="dateend_field">End date of visit</label>
  </div>

<div class="input-field col l12">
  <select class='browser-default' type= 'number' name="rating">
    <option value="" disabled selected>Choose a rating</option>
    <option value="5">&#9733;&#9733;&#9733;&#9733;&#9733;</option>
    <option value="4">&#9733;&#9733;&#9733;&#9733;&#9734;</option>
    <option value="3">&#9733;&#9733;&#9733;&#9734;&#9734;</option>
    <option value="2">&#9733;&#9733;&#9734;&#9734;&#9734;</option>
    <option value="1">&#9733;&#9734;&#9734;&#9734;&#9734;</option>
  </select>
</div>

<div class="input-field col l12">
  <input type='text' name='notes' id="notes_field" />
  <label for="notes_field">Notes</label>
</div>
<div class='hidden'>
  <div class="input-field col l12">
    <input type='text' name='name' id='name_field'/>
  </div>

  <div class="input-field col l12">
    <input type='text' name='location' id='location_field'/>
  </div>
<%# start autopicture %>
  <div class="input-field col l12">
    <input type='text' name='photo' id='photo_field'/>
  </div>
<%# end autopicture %>
</div>
<button class="waves-effect waves-light green btn">Submit</button>
</form>

</div>
