
<div class = 'solid container row'>
  <div class = 'col s12 center-align'>
    <h1>Hello World!</h1>
    <h5>Map your travels around the globe.</h5>
    <br />
  </div>
  <%if (!locals.isLoggedIn) {%>
  <div class = 'col s12'>
    <% include ./sessions/index.ejs %>
  </div>
  <div class='col s12'>
    <h6 class='pad'>Don&#8217;t have a Hello World! account? <a href='/createaccount'>Sign up here</a>.</h6>
  </div>
  <%} else {%>
    <div class = 'col s12 center-align' style='margin-bottom: 20px'>
    <h4>Be inspired:</h4>
    <a href="/places"><h5>See all the places our users have been!</h5></a>
    <a href="/users"><h5>See every user&#8217;s map!</h5></a>
    </div>
  <%}%>
</div>
