<div class = 'row solid'>

  <div class = 'col s12'>
    <h1>Parklifer</h1>
    <h4>Rate and review the green spaces of London</h4>
    <br />
  </div>
  <div class = 'col s12'>
    <% include ./sessions/index.ejs %>
    <h5>Don't have Parklifer? <a href='/createaccount'>Create an account</a>.</h5>
  </div>
</div>
