
<div class ='row'>
  <div class="col m1 l3">
  </div>
<div class = 'solid row col s12 m10 xl6'>
  <div class = 'col s12 center-align'>
    <h1>Hello World!</h1>
    <h5>Map your travels around the globe.</h5>
    <br />
  </div>
  <div class = 'col s12'>
    <% include ./sessions/index.ejs %>
  </div>
  <div class='col s12'>
    <h6 class='pad'>Don't have a Hello World! account? <a href='/createaccount'>Sign up here</a>.</h6>
  </div>
</div>
<div class="col m1 l3">
</div>
</div>
