<div class = 'row'>

  <div class = 'col s12'>
<h1><span style='font-family: Cabin Sketch, cursive'>Parklifer</span></h1>
<h4>Rate and review the green spaces of London</h4>
<br />
</div>
  <div class = 'col s12'>
  <div class="col m6 s12">
        <% include ./sessions/index.ejs %>

  <h5>Don't have Parklifer? <a href='/createaccount'>Create an account</a>.</h5>
  </div>

  <div class="col m6">
<img class="responsive-img hide-on-small-and-down" src = 'https://lh3.googleusercontent.com/-nNnvaEHFGwava4g9bY1bIGeHd3STu3cf_0FzD6Ii9WNCSkjgSOFqJqyy1zv7ypihGiI3oJjnwOHnagy_Kiw79XZ6IghW-kOReV4F0ovn6o6eu2wezuycP9eHy7hg0MiNWqxho41xq54msRDvTkaWrLMr5hy99J15YbaQ4wjqNVZ4n-rM3BPwnVJT_1QI4UNWZJxr6B5mvcluAclyuBepQIJgdTPPDr1Q0RXFGQE3UeoBtwt7xWtibb2YhQmso9no2YUAA2fqXooBLJ3QPvXiCjj2G5IanxqkUVZ01BEWUcBjDqoDjHJ8qe6KlyC2j4q5XcV61tsq4_y7Tv1UDhlizgNOjm3a2c9U9mFvszhYD7EWG4STabi9f4pcDDnAJoycFB2exUYZWYc6D-gpgsgtzTUVURXzpJxJjWyhrtu5VvX40t13JyifaBo3h7cSeacOvn23nhfigKbHPk19UfayuE16gpuTf53aViXuDih3Mb8P8kbIwHEt96uZo3NrX5-my39_NHe3gLoebqUHAYs4JjAY34YOdYy7GI02KlLWLfEtSzuCJ4i3y1HLYOrjjFxKGPK_DTEA_OsE8RWk3wdZ-U7ziCH3i8Lg1_Qwik=w2128-h1596-no'>
</div>

</div>
</div>
