
<div class ='row'>
  <div class="col m1 l3">
  </div>
<div class = 'row solid col s12 m10 xl6'>
  <div class = 'col s12 center-align'>
    <h1>Hello World!</h1>
    <h4>Map your travels around the globe.</h4>
    <br />
  </div>
  <div class = 'col s12'>
    <% include ./sessions/index.ejs %>
  </div>
  <div class='col s12 pad'>
    <h5>Don't have a Hello World! account? <a href='/createaccount'>Sign up here</a>.</h5>
  </div>
</div>
<div class="col m1 l3">
</div>
</div>
