<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript">
  function stopRKey(evt) {
  var evt = (evt) ? evt : ((event) ? event : null);
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null);
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;}
  }
  document.onkeypress = stopRKey;
  </script>
<title>Hello World!</title>
<link rel="shortcut icon" href="/images/favicon.ico?" type="image/x-icon">
<link rel="icon" href="/images/favicon.ico?" type="image/x-icon">
</head>
<body class= 'light green lighten-4 spread'>
  <div style='position: fixed; top: 0; width: 100%; z-index: 2'>
  <% include ./partials/_navbar %>
</div>
  <% include ./partials/_danger %>
  <% include ./partials/_happy %>
  <div class="container" style="margin-top: 150px;
  margin-bottom: 100px;">
    <%- body %>
  </div>
</div>
</body>

</html>
