

<h3>Create new review</h3>
<form class='col l12' action="/reviews" method="post">
<div class="input-field col l12">
<input type="text" name="title" id='title_field'>
<label for='title_field'>Title</label>
</div>
<div class="input-field col l12">
<input type="date" name="date" id='date_field'>
<label for='date_field'>Date</label>
</div>
<div class="input-field col l12">
<input type="number" name="rating" id='rating_field'>
<label for='rating_field'>Rating</label>
</div>
<div class="input-field col l12">
<input type="text" name="comment" id='comment_field'>
<label for='comment_field'>Comment</label>
</div>
<div class="input-field col l12">
<button class="green btn">Create review</button>
</div>
</form>
</div>
