
<div class='solid'>
<h5>Log In</h5>
<form class="col s12" action="/login" method="post">
  <div class="input-field col s12">
    <input type="email" name="email" id="email_field" required>
    <label for="email_field">Email</label>
  </div>
  <div class="input-field col s12">
    <input type="password" name="password" id="password_field" required>
    <label for="password_field">Password</label>
  </div>
  <div class="input-field col s12">
    <button class="waves-effect waves-light green btn">Log in</button>
  </div>
</form>

<div style='height: 150px'>
</div>
</div>
