<% if(locals.isLoggedIn) {%>
  <div class="container solid">
  <h2>View all users</h2>

  <div class='solid'>



  <div class= 'col s12' style='margin-bottom :40px '>

  <div class="row">
  <div class= 'col s12'>

  <% users.forEach((user) => { %>



    <div class="col s12 m4">
    <div class="card small">
    <a href='/users/<%= user._id %>' ><div class="card-image">
    <img src="<%= user.url %>">
    </div>
    <div class= 'center-align'>
    <h4><%= user.username %></h4>
    </div>
    </a>

    </div>
    </div>

    <%   }) %>

    </div>
    </div>


    </div>




    </div>
    <%}%>
