<% if(locals.isLoggedIn)  {%>

<h3>Congratulations, <%=user.username%>, you have updated your profile!</h3>


<div class= 'col s12'>
<div class='row'>
<div class = ' col s3'>
<img src = '<%=user.url%>' class = 'responsive-img' >
</div>

<p>Your name is <%=user.username%></p>
<p>Your email is <%=user.email%></p>
<p>Your password is secret! Please remember it...</p>



</div>
</div>

<% } %>
