<h3>Parks</h3>

<% parks.forEach((park) => { %>



        <p> <a href="/parks/<%=park._id%>"> <%= park.parkname %> </h3></a></p>

    <%   }) %>

    <p>Don't see a London park you love? <a href='mailto:parklife@parklife.io'>Suggest it to us!</a></p>
