<h3>Create new park</h3>

<form method="POST" action="/parks">

<input placeholder="Name the park" name="parkname"></input>
<input placeholder="Give a photo url" name="photo"></input>

<button type="submit">Submit</button>
</form>
</div>
